{% extends 'app/base.html.twig' %}

{% block page_content %}

    <div>
        {% if user_by_id is defined %}
            <h3><br/>{{ 'User details' | trans }}..</h3>

            <div>
                {% if user_by_id %}
                    <br/>
                    {{ 'Public information' | trans }}:<br/>
                    <ul>
                        <li><b>{{ 'Details for user' | trans }}:</b> {{ user_by_id.username }}</li>
                        <li><b>{{ 'Country' | trans }}:</b> {{ user_by_id.country }}</li>
                        <li><b>{{ 'Last login' | trans }}:</b> {{ user_by_id.last_login | date('d.m.Y') }}</li>
                        <li><b>{{ 'Description' | trans }}:</b></li>
                        <div style="border: 2px solid #000000;">{{ user_by_id.description | raw }}</div>
                    </ul>

                    {% if auth.isGranted('ROLE_TEAM') %}
                        <br/>
                        {{ 'Hidden information' | trans }}:<br/>
                        <ul>
                            <li><b>{{ 'User ID' | trans }}:</b> {{ user_by_id.user_id }}</li>
                            <li><b>{{ 'Email' | trans }}:</b> {{ user_by_id.email }}</li>
                            <li><b>{{ 'Email validity' | trans }}:</b> {% if user_by_id.email_problems %}&#x274C;
                                {% else %}&#x2705;
                                {% endif %}</li>
                            <li><b>{{ 'Account created' | trans }}:</b> {{ user_by_id.date_created | date('d.m.Y H:i:s') }}</li>
                            <li><b>{{ 'Last change' | trans }}:</b> {{ user_by_id.last_modified | date('d.m.Y H:i:s') }}</li>
                            <li><b>{{ 'User active' | trans }}:</b> {% if user_by_id.is_active_flag %}&#x2705;{% else %}&#x274C;{% endif %}</li>
                            <li><b>{{ 'Activation code' | trans }}
                                    :</b> {% if user_by_id.activation_code %}{{ user_by_id.activation_code }}{% else %}
                                    &#x274C;{% endif %}</li>
                            <li><b>{{ 'First name' | trans }}:</b> {% if user_by_id.first_name %}{{ user_by_id.first_name }}{% else %}&#x274C;{% endif %}</li>
                            <li><b>{{ 'Last name' | trans }}:</b> {% if user_by_id.last_name %}{{ user_by_id.last_name }}{% else %}&#x274C;{% endif %}</li>
                            <li><b>{{ 'GDPR deleted' | trans }}:</b> {% if user_by_id.gdpr_deletion %}&#x2705;{% else %}&#x274C;{% endif %}</li>
                        </ul>
                    {% endif %}
                {% else %}
                    <br/><br/>
                    <span>{{ 'No user found' | trans }}.. :-(</span>
                {% endif %}
            </div>
        {% else %}
            <br/><br/>
            <span>{{ 'Something went wrong' | trans }}.. :-(</span>
        {% endif %}

    </div>

    <hr>

{% endblock %}
